<div id="dogEdit" class="modal fade" data-backdrop="static">
  <div class="modal-header">
    <div class="dog_edit close float-right"><%= link_to "×", current_user %></div>
    <h3>Edit Dog</h3>
  </div>
  <div class="modal-body dog_edit">
    <%= form_for([current_user, @dog]) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <%= render 'dog_fields', :f => f %> 
  </div>
  <div class="modal-footer dog_info">
      	<%= link_to "Delete", [current_user, @dog], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger pull-left" %>
        <%= f.submit "Update", :class => "btn btn-primary"%>
  <% end %>
  </div>  
</div>