<div class="dog_info">
	<div class="dog_info_spacing"><strong>Breed:</strong> <%= @user.dog_breed %></div>
	<div class="dog_info_spacing"><strong>Birthday:</strong> <%= @user.dog_dob %></div>
	<div class="dog_info_spacing"><strong>Veterinary:</strong> <%= @user.vet %></div>
	<div class="dog_info_spacing"><strong>Boarder:</strong> <%= @user.boarder %></div>
	<div class="dog_info_spacing"><strong>Groomer:</strong> <%= @user.groomer %></div>
	<div class="dog_info_spacing"><strong>Boarder:</strong> <%= @user.boarder %></div>
	<div class="dog_info_spacing"><strong>Food:</strong> <%= @user.food %></div>
	<div class="dog_info_spacing"><strong>Toys:</strong> <%= @user.toys %></div>
</div>

