	<div class="field">
		<label>Name:</label>
		<%= f.text_field :dog_name %>
	</div>
	<div class="field">
		<label>Breed:</label>
		<%= f.text_field :dog_breed %>
	</div>
	<div class="field">
		<label>Birthday:</label>
		<%= f.text_field :dog_dob %>
	</div>
	<div class="field">
		<label>Vet:</label>
		<%= f.text_field :vet %>
	</div>
	<div class="field">
		<label>Boarder:</label>
		<%= f.text_field :boarder %>
	</div>
	<div class="field">
		<label>Groomer:</label>
		<%= f.text_field :groomer %>
	</div>
	<div class="field">
		<label>Food:</label>
		<%= f.text_field :food %>
	</div>
	<div class="field">
		<label>Toys:</label>
		<%= f.text_field :toys %>
	</div>
