<ul class="dog_info">
	<div class="dog_info_spacing"><li><strong>Breed:</strong> <%= current_user.dog_breed %></li></div>
	<div class="dog_info_spacing"><li><strong>Birthday:</strong> <%= current_user.dog_dob %></li></div>
	<div class="dog_info_spacing"><li><strong>Veterinary:</strong> <%= current_user.vet %></li></div>
	<div class="dog_info_spacing"><li><strong>Boarder:</strong> <%= current_user.boarder %></li></div>
	<div class="dog_info_spacing"><li><strong>Groomer:</strong> <%= current_user.groomer %></li></div>
	<div class="dog_info_spacing"><li><strong>Boarder:</strong> <%= current_user.boarder %></li></div>
	<div class="dog_info_spacing"><li><strong>Food:</strong> <%= current_user.food %></li></div>
	<div class="dog_info_spacing"><li><strong>Toys:</strong> <%= current_user.toys %></li></div>
</ul>

