<ul class="dog_info">
	<li><strong>Name:</strong> <%= current_user.dog_name %></li><br />
	<li><strong>Breed:</strong> <%= current_user.dog_breed %></li><br />
	<li><strong>Birthday:</strong> <%= current_user.dog_dob %></li><br />
	<li><strong>Veterinary:</strong> <%= current_user.vet %></li><br />
	<li><strong>Boarder:</strong> <%= current_user.boarder %></li><br />
	<li><strong>Groomer:</strong> <%= current_user.groomer %></li><br />
	<li><strong>Boarder:</strong> <%= current_user.boarder %></li><br />
	<li><strong>Food:</strong> <%= current_user.food %></li><br />
	<li><strong>Toys:</strong> <%= current_user.toys %></li><br />
</ul>

