<%= form_for User.new do |f| %>
	<div class="field">
		<%= f.text_field :first_name, :class => "input-med", :placeholder => "First Name" %>
	</div>
	<div class="field">
		<%= f.text_field :last_name, :class => "input-med", :placeholder => "Last Name" %>
	</div>
	<div class ="field">
		<%= f.text_field :email, :class => "input-med", :placeholder => "Email" %>
	</div>
	<div class ="field">
		<%= f.password_field :password, :class => "input-med", :placeholder => "Password" %>
	</div>
	<div class ="field">
		<%= f.password_field :password_confirmation, :class => "input-med", :placeholder => "Confirm Password" %>
	</div>
	<div class="signup_action pull-right">
		<%= f.submit "Sign Up", :class => "btn btn-regular" %>
	</div>
<% end %>

