<%= form_for User.new do |f| %>
	<div class="signup_field">
		<label class="first">First Name</label>
		<%= f.text_field :first_name %>
	</div>
	<div class="signup_field">
		<label class="last">Last Name</label>
		<%= f.text_field :last_name %>
	</div>
	<div class ="signup_field">
		<label class="email">Email</label>
		<%= f.text_field :email %>
	</div>
	<div class ="signup_field">
		<label class="password">Password</label>
		<%= f.password_field :password %>
	</div>
	<div class="signup_action pull-right">
		<%= f.submit "Sign Up", :class => "btn btn-regular" %>
	</div>
<% end %>

