<table class="user_information">
	<tr>
		<td class="first_name">
			<label>First Name:</label>
			<%= f.text_field :first_name %>
		</td>
		<td class="last_name">
			<label>Last Name:</label>
			<%= f.text_field :last_name %>
		</td>
	</tr>
	<tr>
		<td class="birthday" colspan="1">
			<label>Birthday:</label>
			<%= f.date_select :dob, { :end_year => DateTime.now.year - 100, :start_year => DateTime.now.year, :default => { :year => 2000, :month => 1, :day => 1 } }, :style => "width: 120px;" %>
		</td>
	</tr>
	<tr>
		<td class="email" colspan="1">
			<label>Email:</label>
			<%= f.text_field :email %>
		</td>
	</tr>
	<tr>
		<td class="address">
			<label>Address:</label>
			<%= f.text_field :address %>

			<label>Zip:</label>
			<%= f.text_field :zip, :style => "width: 90px" %>
		</td>
	</tr>
</table><br />
<table class="biography">
	<tr>
		<td class="short_bio">
			<label>Short Biography:</label>
			<%= f.text_field :short_bio, class: "field span8" %>
		</td>
	</tr>
	<tr>
		<td class="long_bio">
			<label>Biography:</label>
      		<%= f.text_area :long_bio, class: "field span8", :rows => "10" %> 
      	</td>
    </tr>
</table>
<table class="user_information">
   	<tr>
		<td class="user_info_password">
			<label>Password:</label>
      		<%= f.password_field :password %> 
      	</td>
      	<td class="user_info_password_confirmation">
      		<label>Confirm Password:</label>
      		<%= f.password_field :password_confirmation %> 
      	</td>
    </tr>
</table>
    