<ul class="user_info">
	<li><strong>Email:</strong> <%= current_user.email %></li><br />
	<li><strong>Birthday:</strong> <%= current_user.dob %></li><br />
	<li><strong>Adress:</strong> <%= current_user.address %></li><br />
	<li><strong>City:</strong> <%= current_user.city %></li><br />
	<li><strong>State:</strong> <%= current_user.state %></li><br />
	<li><strong>Country:</strong> <%= current_user.country %></li><br />
	<li><strong>About:</strong><br /><%= current_user.long_bio %></li>
</div>