<ul class="user_info">
	<div class="user_info_spacing"><li><strong>Email:</strong> <%= current_user.email %></li></div>
	<div class="user_info_spacing"><li><strong>Birthday:</strong> <%= current_user.dob %></li></div>
	<div class="user_info_spacing"><li><strong>Adress:</strong> <%= current_user.address %></li></div>
	<div class="user_info_spacing"><li><strong>City:</strong> <%= current_user.city %></li></div>
	<div class="user_info_spacing"><li><strong>State:</strong> <%= current_user.state %></li></div>
	<div class="user_info_spacing"><li><strong>Country:</strong> <%= current_user.country %></li></div>
	<div class="user_info_spacing"><li><strong>About:</strong><br /><%= current_user.long_bio %></li></div>
</ul>