<tr>
	<td class="user_gravatar">
		<%= link_to gravatar_for(user, size: 60), user %>
	</td>
	<td class="user_name">
		<%= user.first_name %> <%= user.last_name %>
	</td>
	<td class="user_short_bio">
		<%= user.short_bio %>
	</td>
	<% if current_user.admin? %>
	<td class="admin_delete">
		| <%= link_to "Delete", user, :method => :delete, :confirm => "Are you sure you want to delete this user?", 
				:title => "Delete #{user.first_name}" %>
	</td>
	<% end %>
</tr>








