<div class="user_information">
	<div class="user_info_spacing"><strong>Email:</strong> <%= @user.email %></div>
	<div class="user_info_spacing"><strong>Birthday:</strong> <%= @user.dob %></div>
	<div class="user_info_spacing"><strong>Adress:</strong> <%= @user.address %></div>
	<div class="user_info_spacing"><strong>City:</strong> <%= @user.city %></div>
	<div class="user_info_spacing"><strong>State:</strong> <%= @user.state %></div>
	<div class="user_info_spacing"><strong>Country:</strong> <%= @user.country %></div>
	<div class="user_info_spacing"><strong>About:</strong><br /><%= @user.long_bio %></div>
</div>