<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

<div class= "edit_gravatar">
		<%= gravatar_for @user, :size => 75 %> <a href="http://gravatar.com/emails">Change Gravatar</a>
</div>

<table class="form">
	<tr class="header">
		<th>User Information</th>
		<th>Dog Information</th>
	</tr>
	<tr>
		<td class="user_form">
			<div class="user_fields">	
				<%= render 'users/user_fields', :f => f %>
			</div>
		</td>

		<td class="dog_form">
			<div class="dog_fields">
				<%= render 'users/dog_fields', :f => f %>
			</div>
		</td>
	</tr>
</table>
<table class="biography">
	<tr>
		<td class="biography_form">
			<div class ="biography_field">
				<label>Biography:</label><br />
				<%= f.text_area :long_bio, :size => "68x10"%>
			</div>
		</td>
	</tr>
</table>
<table class="password">
	<tr>
		<td class="password_form">
			<div class="password_field">		
				<label>Password:</label><br />
				<%= f.password_field :password %>
			</div>
		</td>
		<td class="confirmation_form">
			<div class="confirmation_field">
				<label>Password Confirmation:</label><br />
				<%= f.password_field :password_confirmation %><br />
			</div>
		</td>
	</tr>
</table>
<table class="update">
	<tr>
		<td class="update_button">
			<div class="actions">
				<%= f.submit "Update"%>
			</div>
		</td>
	</tr>
</table
<% end %>

