<header>
	<%= image_tag("HoundImageLarge.png", :alt => "DogStop", :class => "round") %>
	<nav class="round">
		  <% if signed_in? %>
		  	<table class="user_nav">
				<tr>
					<td><%= link_to "Home", home_path %></td>
					<td><%= link_to "Users", users_path %></td>
					<td><%= link_to "Profile", current_user %></td>
					<td><%= link_to "Settings", edit_user_path(current_user) %></td>
					<td><%= link_to "Sign Out", signout_path, :method => :delete %></td>
				</tr>
			</table>
		  <% else %>
		  	<table class="signin">
				<%= render 'sessions/signin' %> 
			</table>
		  <% end %>
	</nav>

</header>